
.container-fluid {
    padding-top: 80px;
}

.list-search {
    margin-bottom: 20px;
    margin-left: 15px;
}

.navbar {
    min-height: 70px;
}

.navbar-header {
    padding: 0;
}

.navbar .container {
    margin-top: 20px;
}