
.container-fluid {
    padding-top: 80px;
}

.list-search {
    margin-bottom: 20px;
    margin-left: 10px;
}

.navbar {
    min-height: 70px;
}

.navbar-header {
    padding: 20px 0px 0px 5px;
}

#program-search-container {
    margin-left: 10px;
}

.navbar .container {
    margin-top: 20px;
}